.photo {
    height: 100%;
    text-align: center;
    width: 100%;
}

.photo-container {
    display: inline-block;
}

.photo-img {
    display: block;
    max-width: 100%;
}

.photo .sticker {
    position: absolute;
}