.photo-area {
    background: #eee;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.photo-area-header {
    flex-grow: 1;
    flex-basis: 0;
    max-height: 50px;
}

.photo-area-body {
    flex-grow: 1;
    flex-basis: 0;
    max-height: 100%;
    position: relative;
}