<div class="photo-area">
    <div class="photo-area-header">
        <div ng-hide="photoAreaCtrl.photoDataUri">
            <input type="file" input-file ng-model="photoAreaCtrl.photoDataUri" />
        </div>
        <div ng-show="photoAreaCtrl.photoDataUri">
            <a class="btn" href="" ng-click="photoAreaCtrl.startOver()">Start Over</a>
        </div>
    </div>
    <div class="photo-area-body">
        <photo photo-data-uri="photoAreaCtrl.photoDataUri" stickers="photoAreaCtrl.stickers"></photo>
    </div>
</div>